// input box
.textareafrom {
  margin-bottom: 4px;
  label {
    font-size: 14px;
    margin-bottom: 4px;
    line-height: 20px;
    color: var(--secondry-dark-color);
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
.textareabox {
  position: relative;
  margin-bottom: 16px;

  textarea {
    width: 100%;
    border: none;
    padding: 10px 6px;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    transition: all 100ms ease-in;
    outline: 2px solid transparent;
    color: var(--primary-dark-color);
    background: var(--secondry-dark-background);
    resize: none;
    font-family: inherit;
    min-height: 80px;
    &:focus {
      outline: 2px solid var(--accent-color);
    }
  }
}

// FOR IMAGE PREVIEW

.image-container {
  gap: 8px;
  display: flex;
  flex: 1;
  // background: var(--secondry-dark-background);
}

.input-file {
  display: none;
}
.image-preview {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: var(--tetra-dark-background);
  display: flex !important;
  margin: 0 !important;
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
  img {
    height: 80px;
    width: 200px;
    max-width: 100%;
    object-fit: contain;
  }
}
