:root {
  --venus-white: #fff;
  --venus-primary: #181a2a;
  --venus-secondary: #67cba0;
  --venus-accent: #7b92b2;
  --venus-neutral: #4b6bfb;
  --venus-base: #fff;
  --venus-color3: #3abff8;
  --night-base: #1d283a;
  --venus-neutral-night: #f471b5;
  --venus-accent-night: #828df8;
  --venus-secondary-night: #3abff8;
  --venus-primary-night: #0e1525;
  --venus-primary-color: var(--venus-primary);
  --venus-color3-color: var(--venus-color3);
  --venus-white-color: var(--venus-white);
  --night-base-color: var(--night-base);
  --venus-primary2: #0f1729;
  --venus-white: #fff;
  --night-gray: #b3c5ef;
  --venus-gray3: #ececec;
  --venus-secondary: #181a2a;
  --venus-green: #67cba0;
  --venus-graydark: #7b92b2;
  --venus-blue: #4b6bfb;
  --venus-skyblue: #3abff8;
  --night-primary: #1d283a;
  --night-color5: #0f1729;
  --venus-var-white: var(--venus-white);
  --night-var-gray: var(--night-gray);
  --night-gray3: var(--venus-gray3);
  --venus-var-secondary: var(--venus-secondary);
  --venus-var-green: var(--venus-green);
  --venus-var-graydark: var(--venus-graydark);
  --venus-var-blue: var(--venus-blue);
  --venus-var-skyblue: var(--venus-skyblue);
  --night-var-primary: var(--night-primary);
  --night-var-primary2: var(--night-primary2);
  --night-var-color5: var(--night-color5);

  // NEW COLORS
  --primary-dark-color: #eeeeee;
  --secondry-dark-color: #a2a4b7;
  --tertiary-dark-color: #282933;
  --tetra-dark-color: #2a2b36;
  --primary-dark-background: #181924;
  --secondry-dark-background: #24252f;
  --tertiary-dark-background: #282933;
  --tetra-dark-background: #2a2b36;

  --accent-color: #857dcc;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #c5cde6;
  color-scheme: dark;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
}
.container {
  max-width: 1140px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@for $i from 1 through 128 {
  .gap-#{$i} {
    gap: $i px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ececec;
    background: #0e1525;
  }
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-lg-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-lg-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-lg-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-lg-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-lg-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-lg-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-lg-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-lg-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-lg-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-lg-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-lg-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-lg-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

// CUSTOM

.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
