.container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.302);
  display: grid;
  place-content: center;
}

.inner-box {
  width: 800px;
  min-height: 300px;

  display: grid;
  grid-template-columns: 1fr 1fr;
}
