.series-container {
  flex: 1;
  padding: 20px;
}

.series-list {
  flex: 1;
  padding: 20px;
  ul {
    list-style: none;
    li {
      padding: 1rem;
      border-radius: 0.5rem;
      display: flex;
      border: 1px solid var(--tetra-dark-background);
      align-items: center;
      justify-content: space-between;
    }
    .list-title {
      display: flex;
      align-items: center;
      p {
        font-size: 1rem;
        color: #c5cde6;
      }
    }
    .list-controls {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      span {
        height: 35px;
        width: 35px;
        border-radius: 100%;
        background: #26324d;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}

.question-container {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1.5px solid var(--tetra-dark-background);
  display: flex;
  flex-direction: column;
}
.question-detail {
  padding: 0.3rem 0;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  h2 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

// TAB CONTAINER

.tab-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #26324d;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      color: #857dcc;
      padding: 0.5rem 1rem;
      border-radius: 0.4rem 0.4rem 0 0;
      font-weight: 500;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      gap: 0.2rem;
      border-bottom: 2px solid transparent;
      user-select: none;
      cursor: pointer;
      transition: all 200ms ease;
    }
    li.active {
      background: var(--tetra-dark-background);
      border-bottom: 2px solid #857dcc;
    }
  }

  .tab-controls {
  }

  .list-controls {
    gap: 0.2rem;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    li {
      color: #dc3545;
      background: #26324d;
      svg {
        fill: #dc3545;
      }
    }
  }
}
